@charset "utf-8";
/* CSS Document */
/* Generals */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
field set, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: Arial, Geneva, sans-serif;
  vertical-align: baseline;
}

html {height: 100% !important;}

body {
	margin: 0;
	padding: 0;
	/*font-size: 100%;*/
	font-size: 12px;
	font-family: Arial, Geneva, sans-serif;
	color:#000000;
	background-color: #fofofo;

	overflow-x:hidden;
	width: 100%;
	height: 100%;

}


a {
	color: #ff9944;
}
form{
    padding: 0;
    margin: 0;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 body {
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
 }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
 body {
  -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;
 }
}
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
 body {
  -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;
 }
}

.wrapper {
	width:100%;
	/* width: 320px;*/
	background: #ffffff;
	/*padding-top: 43px;*/
	overflow: hidden;
	/*min-height: 480px;*/
}


#rotating-item-wrapper {

	float: left;
	width: 100%;
}
#rotating-item-wrapper a img {

	height: 84px;
	width: 100%;

}

#rotating-item-wrapper #nav {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 90px;
	padding-left: 40%;
}

#rotating-item-wrapper #nav  a {
	height: 5px;
	width: 5px;
	background: #cccccc;
	margin-right: 10px;
	padding: 3px;
	border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    text-indent: -100000px;
	display: block;
	float: left;
}
#rotating-item-wrapper #nav  a.activeSlide {
	background: #666666;
}
#rotating-item-wrapper #previous {
	position: absolute;
	top:0px;
	left:0px;
	width: 20px;
	background: #000000;
	opacity: 0.7;
	z-index: 100;
	height: 84%;
}

#rotating-item-wrapper #next {
	position: absolute;
	top:0px;
	right:0px;
	width: 20px;
	background: #000000;
	opacity: 0.7;
	z-index: 100;
	height: 84%;
}

#rotating-item-wrapper #next  a {
	background: url("../images/right-w-arrow.png") no-repeat  3px 50%;
	display: block;
	height: 100%;
}

#rotating-item-wrapper #previous  a {
	background: url("../images/left-w-arrow.png") no-repeat 3px 50%;
	display: block;
	height: 100%;
}